body {
	background-color: #292929;
	display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
}

ul li:first-child {
    align-self: flex-start;
}

ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
}

li {
	display: block;
    margin: 10px auto;
	width: 50%;
	text-align: center;
}

.title {
	color: #fff;
	font-size: 50px;
	font-family: "Lexend", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	padding: 10px;
}

.link {
	overflow: hidden;
	line-height: auto;
	width: 550px;
	color: #fff;
	font-family: "Lexend", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	padding: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #353535;
	border-radius: 12px;
}

.link:hover {
	overflow: hidden;
	line-height: auto;
	width: 650px;
	color: #fff;
	font-family: "Lexend", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	padding: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #454545;
	border-radius: 12px;
	
}

.image {
	overflow: hidden;
	line-height: auto;
	width: 550px;
	color: #fff;
	font-family: "Lexend", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: rgba(0, 0,0, 0);
	border-radius: 12px;
}

.gif {
	border-radius: 12px;
	height: 250px;
}

.bigger {
	font-size: 35px;
	background-color: rgba(0, 0,0, 0);
	font-weight: bold;
	 text-decoration-line: none;
}

.smaller {
	font-size: 20px;
	background-color: rgba(0, 0,0, 0);
	text-decoration-line: none;
}
