body {
    background-color: rgba(0, 0, 0, 0.13);
    margin: 0 !important;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    cursor: url("cursor.ico"), default;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: auto;
    overflow: hidden;
    position: relative;
}

#links, #projects {
    width: 100%;
}

.main-frame {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    min-height: 80vh;
    /* justify-content: center; */
    align-items: center;
    border: 1px black solid;
}

h1 {
    text-align: center;
}

header {
    background-color:black;
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
}
header > marquee {
    color: white;
    font-weight: bold;
}

button, button:hover {
    background-color: #C4C4C4;
    border-radius: 1px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    font-family: "Times New Roman";
    font-size: 16px;
    cursor: url("cursor.ico"), default;
}

button:active {
    background-color: #979797;
    border-radius: 1px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    font-family: "Times New Roman";
    font-size: 16px;
}

#kagura {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    z-index: 9999;
}


#buttons {
      display: flex;
      justify-content: center;
      gap: 2.5px;
      margin-top: 2px;
}

/* #loader {
    position: fixed;
    right: 50%;
    transform: translateX(50%);
    bottom: 6%;
    width: 40%;
} */

/* #date {
    position: fixed;
    right: 34%;
    transform: translateX(50%);
    bottom: 5%;
} */

#loader {
    margin-top: auto;
    margin-bottom: 10px;
    width: 100%;
}

#imgs > * {
    width: 50px;
    height: 50px;
    border: 1px black solid;
}

#buttons-gifs > * {
    width: 88px;
    height: 31px;
}

#stamps > * {
    width: 89px;
    height: 46px;
}

#imgs, #buttons-gifs, #stamps {
    display: flex;
    justify-content: center;
    gap: 2.5px;
    margin-top: 3px;
}

.subtitle {
    font-size:20px;
    font-weight: bold;
    font-style: italic;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
    margin-top: 4px;
    border-bottom: 1px black dotted;
}

.default, #sum {
    margin-left: 5px;
    margin-right: 5px; 
}

#wordart {
    width: 86%;
    height: auto;
    margin-top:10px;
}

#logo-container {
    display: flex;
    justify-content: center;
}

.abtmedesc {
    margin-top: 4px !important;
    margin-bottom: 8px !important;
}

#classment {
    margin-top: 1px !important;
    margin-bottom: 1px !important;
}